<% layout('layouts/boilerplate') %>

<div class="error-page">
  <div class="error-card">
    <div class="error-icon"><i class="fa-solid fa-triangle-exclamation"></i></div>
    <h1>Oops! Something went wrong</h1>
    <p><%= message %></p>
    <a href="/listings" class="btn-back"><i class="fa-solid fa-arrow-left"></i> Back to Hotels</a>
  </div>
</div>
